@import url(https://use.fontawesome.com/b36546ef62.css);

@font-face {
	font-family: "Source Sans Regular";
	src: url("./fonts/SourceSansPro-Regular.eot");
	src: url("./fonts/SourceSansPro-Regular.eot") format("embedded-opentype"),
	     url("./fonts/SourceSansPro-Regular.svg") format("svg"),
	     url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "Source Sans Light";
	src: url("./fonts/SourceSansPro-Light.eot");
	src: url("./fonts/SourceSansPro-Light.eot") format("embedded-opentype"),
	url("./fonts/SourceSansPro-Light.svg") format("svg"),
	url("./fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face{
	font-family: "Source Sans BoldItalic";
	src: url("./fonts/SourceSansPro-BoldItalic.eot");
	src: url("./fonts/SourceSansPro-BoldItalic.eot") format("embedded-opentype"),
	url("./fonts/SourceSansPro-BoldItalic.svg") format("svg"),
	url("./fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
}

@font-face{
	font-family: "Source Sans SemiBold";
	src: url("./fonts/SourceSansPro-SemiBold.eot");
	src: url("./fonts/SourceSansPro-SemiBold.eot") format("embedded-opentype"),
	url("./fonts/SourceSansPro-SemiBold.svg") format("svg"),
	url("./fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0 8px;
	box-sizing: border-box;
	font-family: 'Source Sans Regular', "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
	width: 0;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #c7b592;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

