@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #c7b592,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #c7b592;
}
a:visited {
  color: color.scale(#c7b592, $lightness: -35%);
}

div.mdc-dialog__surface {
  max-width: 1414px !important;
}

.mdc-dialog__content#fullscreen-content {
  margin-left: auto;
  margin-right: auto;
  min-width: 560px;

  button {
    &:focus {
      border-color: transparent;

      &.mdc-button.mdc-ripple-upgraded.mdc-ripple-upgraded--background-focused.mdc-ripple-upgraded--foreground-activation {
        background: transparent;
      }
    }

    div.mdc-button__ripple {
      opacity: 0;

    }
    span.mdc-button__label {
      color: black;
      text-transform: none;
    }
  }
}

div.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  div.card-container.mdc-ripple-surface {
    margin: 5px;
  }

  .smui-ripple-surface--primary::before {
    background-color: transparent;
  }

  div.mdc-card.mdc-card--outlined {
    padding: 5px;
  }
}

div.smui-accordion .smui-accordion__panel.smui-accordion__panel--open>.smui-paper__content {
  padding: 0;
}

.mdc-ripple-surface.mdc-ripple-upgraded--background-focused::after, .mdc-ripple-surface.mdc-ripple-upgraded--background-focused::before {
  background-color: transparent;
}

label.mdc-text-field.smui-text-field--standard {
  width: 90%;
  height: 23px;
  font: 12px "Source Sans Regular", sans-serif;
  margin: 10px 12px;
}

.mdc-drawer.mdc-drawer--modal.smui-drawer__absolute {
  transition-duration: .33s;
}

.mdc-drawer__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  p {
    font: 20px "Source Sans SemiBold";
    margin: 12px;
  }

  input {
    margin: 0px;
  }

  #reply {
    flex: 2 0 80%;
    border: 2px solid #c7b592;
    margin: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

div.mdc-tab-scroller__scroll-content {
  justify-content: center;

  button.mdc-tab {
    height: 2em;

    span.mdc-tab__content {
      height: 28px;

      .mdc-tab__text-label {
        font: lighter 17px "Source Sans SemiBold";
        text-transform: none;
        color: #000000;
      }
    }

    &.mdc-tab--active {
      height: 2em;

      span.mdc-tab__ripple::before {
        background-color: transparent;
      }

      span.mdc-tab__content {
        height: 28px;

        .mdc-tab__text-label {
            font: lighter 17px "Source Sans SemiBold";
            text-transform: none;
            color: #c7b592;
          }
        }
      }
  }
}











